@model Deal.Models.ViewModels.RequestsListViewModel

<div class="row">
    @if (Model != null)
    {
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-spaced" role="tablist">
            <li role="presentation" class="active"><a href="#open-requests" aria-controls="open-requests" role="tab" data-toggle="tab">Open requests <span class="badge">@Model.OpenRequests.Count()</span></a></li>
            <li role="presentation"><a href="#completed-requests" aria-controls="completed-requests" role="tab" data-toggle="tab">Completed requests <span class="badge">@Model.CompletedRequests.Count()</span></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="open-requests">
                <div class="list-container">
                @if(Model.OpenRequests.Count() > 0)
                {
                    <ul class="list list-half-width">
                        @foreach (var req in Model.OpenRequests)
                        {
                            <li class="col-xs-12 col-md-6" data-id="request-@req.Id">
                                <div class="item">
                                    <h3 class="name"><a href="@Url.Action("Details", new { id = @req.Id })" title="View details">@req.Title</a></h3>
                                    <div class="item-stats">
                                        <div class="stat" title="Created"><i class="fa fa-fw fa-calendar"></i> @req.CreatedAt.ToString("MMM dd, yyyy")</div>
                                        <div class="stat" title="Group"><i class="fa fa-fw fa-cube"></i> @req.Group.Name</div>
                                        <div class="stat" title="Offers"><i class="fa fa-fw fa-question-circle"></i> @req.Offers.Count()</div>
                                    </div>
                                    <div class="description">@(req.Description.Length > 400 ? req.Description.Substring(0,400) + "..." : req.Description)</div>
                                    <div class="read-more">
                                        @Html.ActionLink("Read more", "Details", new { id = @req.Id }, new { @class="btn btn-default" })
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <p><em>You have no active requests.</em></p>
                        </div>
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="completed-requests">
                <div class="list-container">
                    @if(Model.CompletedRequests.Count() > 0)
                    {
                    <ul class="list list-half-width">
                        @foreach (var req in Model.CompletedRequests)
                        {
                            <li class="col-xs-12 col-md-6" data-id="request-@req.Id">
                                <div class="item">
                                    <h3 class="name"><a href="@Url.Action("Details", new { id = @req.Id })" title="View details">@req.Title</a></h3>
                                    <div class="is-completed">
                                        <i class="fa fa-2x fa-check green"></i>
                                    </div>
                                    <div class="item-stats">
                                        <div class="stat" title="Created"><i class="fa fa-fw fa-calendar"></i> @req.CreatedAt.ToString("MMM dd, yyy")</div>
                                        <div class="stat" title="Group"><i class="fa fa-fw fa-cube"></i> @req.Group.Name</div>
                                        <div class="stat" title="Offers"><i class="fa fa-fw fa-question-circle"></i> @req.Offers.Count()</div>
                                    </div>
                                    <div class="description">@(req.Description.Length > 400 ? req.Description.Substring(0,400) + "..." : req.Description)</div>
                                    <div class="read-more">
                                        @Html.ActionLink("Read more", "Details", new { id = @req.Id }, new { @class="btn btn-default" })
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <p><em>You have no completed requests.</em></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Something went wrong.</p>
    }
</div>