@model Deal.Models.ViewModels.RequestViewModel
@{
    ViewBag.Title = "Requests";
        if(Model.Request.OfferId != null)
    {
        ViewBag.SubTitle = "Create a subrequest";
        ViewBag.Description = "Create a subrequest";    
    }
    else
    {
        ViewBag.SubTitle = "Create a new request";
        ViewBag.Description = "Create a new request";
    }
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Request.UserId)
            @Html.HiddenFor(m => m.Request.GroupId)
            @Html.HiddenFor(m => m.Request.OfferId)
            <fieldset>
                <legend class="hidden">Create a new request</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="detail">
                @if(Model.Request.OfferId != null)
                {
                    <p class="red"><i class="fa fa-fw fa-arrow-right"></i> In response to: @Html.ActionLink(@Model.Request.ParentOffer.Title, "Details", "Offer", new { @id = @Model.Request.OfferId })</p>
                }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Title)
                    @Html.TextBoxFor(m => m.Request.Title, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Description)
                    @Html.TextAreaFor(m => m.Request.Description, new { @class= "form-control", rows = 6, cols = 50 })
                </div>
                @if(Model.Request.OfferId == null)
                {
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.CategoryId)
                    @Html.DropDownListFor(m => m.Request.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select a category --", new { @class= "form-control" })
                </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.Request.CategoryId)
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Bonus)
                    <select class="form-control" asp-for="Request.Bonus" asp-items="Html.GetEnumSelectList<TypeBonus>()"></select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.EstimatedTime)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Request.EstimatedTime, new { @class= "form-control", @type = "number" })
                        <div class="input-group-addon">minutes</div>
                    </div>
                </div>
                @Html.ActionLink("Cancel", "Details", "Group", new { @id = @Model.Request.GroupId }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>