@model Deal.Models.ViewModels.RequestViewModel
@{
    ViewBag.Title = @Model.Request.Title;
    ViewBag.Description = "Details";
    if(@Model.Request.ParentOffer != null)
        ViewBag.SubTitle = "SubRequest";
    else
        ViewBag.SubTitle = "Request";
}

<div class="row" id="request-detail" data-id="request-@Model.Request.Id">
    @Html.AntiForgeryToken()
    <div class="col-xs-12 col-md-6">
        <div class="detail-top">
            @if(@Model.Request.ParentOffer != null)
            {
                <p class="red"><i class="fa fa-fw fa-arrow-right"></i> In response to: @Html.ActionLink(@Model.Request.ParentOffer.Title, "Details", "Offer", new { @id = @Model.Request.OfferId })</p>
            }
            <div class="created-at">
                <p><i class="fa fa-fw fa-calendar"></i> <strong>Posted:</strong> @Model.Request.CreatedAt.ToString("MMM dd, yyyy - HH:mm")</p>
            </div>
            <ul class="details-list">
                <li title="User" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-user"></i> @Html.ActionLink(@Model.Request.User.UserName, "Details", "User", new { @id = @Model.Request.User.Id })</li>
                <li title="Group" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-cube"></i> @Html.ActionLink(@Model.Request.Group.Name, "Details", "Group", new { @id = @Model.Request.Group.Id })</li>
                <li title="Category" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-bookmark"></i> @Model.Request.Category.Name</li>
                <li title="Estimated Time" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-clock-o"></i> @Model.Request.EstimatedTime min</li>
                <li title="Type of Work: @Model.Request.Bonus.ToString()">
                    @switch(@Model.Request.Bonus.ToString())
                    {
                        case "Light":
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Type of work: Light">
                                <i class="fa fa-flag green"></i>
                            </a>
                            break;
                        case "Medium":
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Type of work: Medium">
                                <i class="fa fa-flag yellow"></i>
                            </a>
                            break;
                        case "Heavy":
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Type of work: Heavy">
                                <i class="fa fa-flag red"></i>
                            </a>
                            break;
                        default:
                            <i class="fa fa-question-circle"></i>
                            break;
                    }
                </li>
                @if (@Model.Request.IsCompleted)
                {
                    <li title="Completed"><span class="green"><i class="fa fa-lg fa-fw fa-check"></i>Completed</span></li>
                }
            </ul>
        </div>
        <div class="detail-middle">
            <h3>Description</h3>
            <p>@Model.Request.Description</p>
        </div>
        @if(Model.Request.User.ToString() == User.Identity.Name.ToString())
        {
        <div class="detail-bottom">
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Request.Id">Edit Details <i class="fa fa-edit"></i></a>
            <a 	class="confirm-link btn btn-danger"
                data-id="@Model.Request.Id" 
                data-name="@Model.Request.Title"
                data-cat = "request"
                data-action="delete"
                data-update-target="#request-detail"
                data-redirect-href="@Url.Action("Index", "Request")"
                href="@Url.Action("Delete", new { id = @Model.Request.Id })" 
                title="Delete Request: @Model.Request.Title">
                Delete
                <i class="fa fa-trash"></i>
            </a>
        </div>
        }
    </div>
</div>

@if(Model.Request.ParentOffer == null)
{
<div class="row">
    <div class="col-xs-12 exchanges">
        <h3>Offers</h3>
        @if(Model.Request.IsCompleted == false)
        {
            @if(Model.Offers != null && Model.Offers.Count() > 0)
            {
                    <div class="table-responsive" id="offers-list">
                        <table class="table table-striped datatable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>User</th>
                                    @if(Model.Request.User.ToString() == User.Identity.Name.ToString())
                                    {
                                    <th>Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var off in Model.Offers)
                                {
                                <tr data-id="offer-@off.Id">
                                    <td>@Html.ActionLink(@off.Title, "Details", "Offer", new { @id = @off.Id })</td>
                                    <td>@off.User</td>
                                    @if(Model.Request.User.ToString() == User.Identity.Name.ToString())
                                    {
                                    <td>
                                        <a 	class="confirm-link"
                                        data-id="@off.Id" 
                                        data-name="@off.Title"
                                        data-cat = "offer"
                                        data-action="complete"  
                                        data-update-target="#offers-list"
                                        data-update-href="@Url.Action("Details", "Offer", new { @id = @off.Id })"
                                        href="@Url.Action("AcceptOffer", new { @reqId = @Model.Request.Id, @offId = @off.Id })"
                                        title="Accept Offer: @off.Title"><span class="fa fa-lg fa-check"></span> Accept	
                                        </a>
                                    </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
            }
            else
            {
                <p><em>No offers yet.</em></p>
            }
            <a class="btn btn-primary btn-xs" asp-action="Create" asp-controller="Offer" asp-route-grpId="@Model.Request.Group.Id" asp-route-reqId="@Model.Request.Id">Make an offer <i class="fa fa-plus"></i></a>
        }
        else if(@Model.AcceptedOffer != null)
        {
            <div class="table-responsive" id="offers-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.ActionLink(@Model.AcceptedOffer.Title, "Details", "Offer", new { @id = Model.AcceptedOffer.Id })</td>
                            <td>Accepted</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p><em>No offers yet.</em></p>
        }
    </div>
</div>
}

<div class="row">
    <div class="col-xs-12">
        <h3>Comments</h3>
        @if(Model.Comments != null && Model.Comments.Count() > 0)
        {
            <ul id="comments-list">
            @foreach(var cmnt in Model.Comments)
            {
                <li class="comment" data-id="comment-@cmnt.Id">
                    <div class="meta">
                        <ul class="list-unstyled">
                            <li class="user">@Html.ActionLink(@cmnt.User.UserName, "Details", "User", new { @id = @cmnt.User.Id })</li>
                            <li class="date">@cmnt.CreatedAt.ToString("MMM dd, yyyy - HH:mm")</li>
                        </ul>
                    </div>
                    <div class="content">@cmnt.Content</div>
                    @if(cmnt.UserId == ViewBag.UserId)
                    {
                    <div class="tools">
                        <ul class="list-unstyled">
                            <li>
                                <a 	class="confirm-link red"
                                    data-id="@cmnt.Id" 
                                    data-name="@cmnt.Id"
                                    data-cat = "comment"
                                    data-action="delete"
                                    data-redirect-target="@Url.Action("Details", "Request" , new { id = @Model.Request.Id })"
                                    href="@Url.Action("Delete", "Comment" , new { id = @cmnt.Id })" 
                                    title="Delete Comment: @cmnt.Id">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                    }
                </li>
            }
            </ul>
        }
        else
        {
            <p><em>No comments yet.</em></p>
        }
    </div>
    @if(Model.Request.IsCompleted == false)
    {
    <div class="col-xs-12 col-md-6">
        <h4>Add a new comment</h4>
        @Component.Invoke("AddComment", "Request", Model.Request.Id)    
    </div>
    }
</div>


              
@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}