@model Deal.Models.ViewModels.RequestViewModel
@{
    ViewBag.Title = @Model.Request.Title;
    ViewBag.SubTitle = "Edit this request";
    ViewBag.Description = "Update the information for request @Model.Request.Title";
}
<div class="row">
    <div class="col-md-12 col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Request.Id)
            
            <fieldset>
                <legend class="hidden">Create a new request</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Title)
                    @Html.TextBoxFor(m => m.Request.Title, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Description)
                    @Html.TextAreaFor(m => m.Request.Description, new { @class= "form-control", rows = 10, cols = 50 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.CategoryId)
                    @Html.DropDownListFor(m => m.Request.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select a category --", new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Bonus)
                    <select class="form-control" asp-for="Request.Bonus" asp-items="Html.GetEnumSelectList<TypeBonus>()"></select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.EstimatedTime)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Request.EstimatedTime, new { @class= "form-control", @type = "number" })
                        <div class="input-group-addon">minutes</div>
                    </div>
                </div>
                
                @Html.ActionLink("Cancel", "Details", new { @id = Model.Request.Id } ,new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>