@model Deal.Models.ViewModels.AmountForEntityViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="viz-amount @Model.EntityType">
            @Model.Amount <small>@if(@Model.Amount != 1){@Model.PluralizeName}else{@Model.Name}</small>
            @switch (Model.EntityType)
            {
                case "Group":
                    <span class="fa fa-cube"></span>
                    break;
                case "User":
                    <span class="fa fa-users"></span>
                    break;
                case "Role":
                    <span class="fa fa-flash"></span>
                    break;
                case "Category":
                    <span class="fa fa-bookmark"></span>
                    break;
                case "Request":
                    <span class="fa fa-exclamation-circle"></span>
                    break;
                case "Offer":
                    <span class="fa fa-question-circle"></span>
                    break;
                default:
                    <span class="fa fa-question"></span>
                    break;
            }
        </div>
    </div>
</div>