@model IEnumerable<Deal.Models.Identity.ApplicationUser>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>UserName</th>
                    <th>Name</th>
					<th>Email</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model)
				{
					<tr data-id="user-@user.Id">
						<td><a href="@Url.Action("Edit", new { id = @user.Id })" title="Edit User" data-toggle="tooltip" data-placement="top">@user.UserName</a></td>
                        <td>@if(@user.Profile != null){<text>@user.Profile.FirstName @user.Profile.LastName</text>}</td>
						<td>@user.Email</td>
						<td>@Convert.ToString(string.Format("{0:dd-MM-yyyy}", user.CreatedAt))</td>
						<td>
							@if (@user.LockoutEnabled)
							{
								@if (@user.LockoutEnd != null && @user.LockoutEnd > DateTimeOffset.MinValue)
								{
									<a 	class="confirm-link"
									data-id="@user.Id" 
									data-name="@user.UserName"
									data-cat = "user"
									data-action="unlock"  
									data-update-target="#users-list" 
									data-update-href="@Url.Action("Index", "User")"
									href="@Url.Action("UnLock", new { id = @user.Id })" 
                                    data-toggle="tooltip" data-placement="top"
									title="Unlock User"><span class="fa fa-lg fa-lock"></span></a>
								}
								else
								{
									<a 	class="confirm-link"
									data-id="@user.Id" 
									data-name="@user.UserName"
									data-cat = "user"
									data-action="lock"  
									data-update-target="#users-list" 
									data-update-href="@Url.Action("Index", "User")"
									href="@Url.Action("Lock", new { id = @user.Id })" 
                                    data-toggle="tooltip" data-placement="top"
									title="Lock User"><span class="fa fa-lg fa-unlock"></span></a>
								}
							}
							@if (@user.DeletedAt != null)
							{
								<a 	class="confirm-link"
								data-id="@user.Id" 
								data-name="@user.UserName"
								data-cat = "user"
								data-action="softundelete"  
								data-update-target="#users-list" 
								data-update-href="@Url.Action("Index", "User")"
								href="@Url.Action("SoftUnDelete", new { id = @user.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Soft UnDelete User"><span class="fa fa-lg fa-eye-slash"></span></a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@user.Id" 
								data-name="@user.UserName"
								data-cat = "user"
								data-action="softdelete"  
								data-update-target="#users-list" 
								data-update-href="@Url.Action("Index", "User")"
								href="@Url.Action("SoftDelete", new { id = @user.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Soft Delete User"><span class="fa fa-lg fa-eye"></span></a>
							}
							<a 	class="confirm-link"
								data-id="@user.Id" 
								data-name="@user.UserName"
								data-cat = "user"
								data-action="delete"  
								data-update-target="#users-list" 
								data-update-href="@Url.Action("Index", "User")"
								href="@Url.Action("Delete", new { id = @user.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Delete User"><span class="fa fa-lg fa-trash"></span></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p>No user in the database!</p>
}