@model IEnumerable<Deal.Models.Group>
@Html.AntiForgeryToken()

@if (Model != null && Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var grp in Model)
				{
					<tr data-id="group-@grp.Id">
						<td><a href="@Url.Action("Edit", new { id = @grp.Id })" title="Edit Group" data-toggle="tooltip" data-placement="top">@grp.Name</a></td>
						<td>@grp.Description</td>
						<td>@grp.CreatedAt</td>
						<td>
							@if (@grp.DeletedAt != null)
							{
								<a 	class="confirm-link"
								data-id="@grp.Id" 
								data-name="@grp.Name"
								data-cat = "group"
								data-action="softundelete"  
								data-update-target="#groups-list" 
								data-update-href="@Url.Action("Index", "Group")"
								href="@Url.Action("SoftUnDelete", new { id = @grp.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Soft UnDelete Group"><span class="fa fa-lg fa-eye-slash"></span></a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@grp.Id" 
								data-name="@grp.Name"
								data-cat = "group"
								data-action="softdelete"  
								data-update-target="#groups-list" 
								data-update-href="@Url.Action("Index", "Group")"
								href="@Url.Action("SoftDelete", new { id = @grp.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Soft Delete Group"><span class="fa fa-lg fa-eye"></span></a>
							}
							<a 	class="confirm-link"
								data-id="@grp.Id" 
								data-name="@grp.Name"
								data-cat = "group"
								data-action="delete"  
								data-update-target="#groups-list" 
								data-update-href="@Url.Action("Index", "Group")"
								href="@Url.Action("Delete", new { id = @grp.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Delete Group"><span class="fa fa-lg fa-trash"></span></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p><em>No groups in the database!</em></p>
}
@Html.ActionLink("Create a new group", "Create", new { }, new { @class = "btn btn-primary" })