@model Deal.Models.ViewModels.GroupViewModel
@{
    ViewBag.Title = @Model.Group.Name;
    ViewBag.SubTitle = "Edit this group";
    ViewBag.Description = "Update the information for group @Model.Group.Name";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Group.Id)
            <fieldset>
                <legend class="hidden">Update the information for this group</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.Group.Name)
                    @Html.TextBoxFor(m => m.Group.Name, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Group.Description)
                    @Html.TextAreaFor(m => m.Group.Description, new { @class= "form-control", rows = 4, cols = 50 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Group.UserId)
                    @Html.DropDownListFor(m => m.Group.UserId, new SelectList(Model.Users, "Id", "UserName"), "-- Select a user --", new { @class= "form-control" })
                </div>
                @Html.ActionLink("Back", "Index", new { }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>