@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.SubTitle = "Change your password";
    ViewBag.Description = "Change your password";
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <section>
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" role="form">
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.ActionLink("Cancel", "Index", "User", null ,new { @class="btn btn-default" })
                    <button type="submit" class="btn btn-primary">Change password</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
