@model IndexViewModel
@{
    ViewBag.Title = "Manage your account";
    ViewBag.SubTitle = "Change your account settings";
    ViewBag.Description = "Change your account settings";
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="text-success">@ViewData["StatusMessage"]</p>

        <div class="options-group">
            <h3>Account</h3>
            <ul class="options">
                <li class="option">
                    @if (Model.HasPassword)
                    { <a asp-controller="Manage" asp-action="ChangePassword">Change Password</a> }
                    else
                    { <a asp-controller="Manage" asp-action="SetPassword">Create Password</a> }
                </li>
                <li class="option">
                    <b>External Logins:</b> @Model.Logins.Count [ <a asp-controller="Manage" asp-action="ManageLogins">Manage</a> ]
                </li>
                <li class="option">
                    <p class="hidden">
                        Phone Numbers can used as a second factor of verification in two-factor authentication.
                        See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                    </p>
                    <b><abbr title="Phone Numbers can used as a second factor of verification in two-factor authentication.">Phone Number:</abbr></b>
                    @(Model.PhoneNumber ?? "0")
                    [
                        @if (Model.PhoneNumber != null)
                        {
                            <a asp-controller="Manage" asp-action="AddPhoneNumber">Change</a>
                                @: &nbsp;|&nbsp;
                                <a asp-controller="Manage" asp-action="RemovePhoneNumber">Remove</a>
                        }
                        else
                        {
                            <a asp-controller="Manage" asp-action="AddPhoneNumber">Add</a>
                        }
                    ]
                </li>
                <li class="option">
                    <b>Two-Factor Authentication</b>
                    @if (Model.TwoFactor)
                    {
                        <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" role="form" class="form-inline">
                            <button type="submit" class="btn btn-link">Disable</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" role="form" class="form-inline">
                            [ <button type="submit" class="btn btn-link">Enable</button> ]
                        </form>
                    }
                </li>
            </ul>
        </div>  
    </div>
</div>
