@model Deal.Models.ViewModels.UserOverviewViewModel
@{
    ViewBag.Title = "Hi there!";
    ViewBag.SubTitle = "Welcome to Deal. Let's get started.";
    ViewBag.Description = "Welcome to Deal. Let's get started.";
}

<div class="row intro">
    @if (Model != null)
    {
        <div class="col-xs-12 col-md-6">
            <div class="overview-block">
                <h3 class="subtitle"><i class="fa fa-fw fa-bar-chart"></i> My stats</h3>
                <div class="table-responsive">
                    <table class="table table-condensed stats">
                        <tr>
                            <td class="stats_label">Name</td>
                            <td class="stats_body">@Model.User.Profile.FirstName @Model.User.Profile.LastName</td>
                        </tr>
                        <tr>
                            <td class="stats_label">Member since</td>
                            <td class="stats_body">@Model.User.CreatedAt.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="stats_subtitle">Requests</h4>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="stats_label"># of completed requests</td>
                            <td class="stats_body">@Model.MyCompletedRequests.Count()</td>
                        </tr>
                        <tr>
                            <td class="stats_label"># of submitted requests</td>
                            <td class="stats_body">@Model.MyRequests.Count()</td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="stats_subtitle">Offers</h4>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="stats_label"># of completed offers</td>
                            <td class="stats_body">@Model.MyCompletedOffers.Count()</td>
                        </tr>
                        <tr>
                            <td class="stats_label"># of submitted offers</td>
                            <td class="stats_body">@Model.MyOffers.Count()</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="overview-block">
                <h3 class="subtitle"><i class="fa fa-fw fa-cube"></i> My groups</h3>
                <div class="overview-content">
                    @if (Model.MyGroups.Count() > 0)
                    {
                        <ul class="overview-list">
                        @foreach (var grp in Model.MyGroups.Take(5))
                        {
                            <li>@Html.ActionLink(@grp.Name, "Details", "Group", new { @id = grp.Id })</li>
                        }
                        </ul>
                        @Html.ActionLink("See more", "Index", "Group", null, new { @class="btn btn-primary btn-xs" })
                    }
                    else
                    {
                        <p><em>You haven't joined any groups yet.</em></p>
                    }
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="overview-block">
                <h3 class="subtitle"><i class="fa fa-fw fa-exclamation-circle"></i> My requests</h3>
                <div class="overview-content">
                    @if (Model.MyActiveRequests.Count() > 0)
                    {
                        <ul class="overview-list">
                        @foreach (var req in Model.MyActiveRequests.Take(5))
                        {
                            <li>@Html.ActionLink(@req.Title, "Details", "Request", new { @id = req.Id })</li>
                        }
                        </ul>
                        @Html.ActionLink("See more", "Index", "Request", null, new { @class="btn btn-primary btn-xs" })
                    }
                    else
                    {
                        <p><em>You don't have any active requests.</em></p>
                    }
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="overview-block">
                <h3 class="subtitle"><i class="fa fa-fw fa-question-circle"></i> My offers</h3>
                <div class="overview-content">
                    @if (Model.MyActiveOffers.Count() > 0)
                    {
                        <ul class="overview-list">
                        @foreach (var ofr in Model.MyActiveOffers.Take(5))
                        {
                            <li>@Html.ActionLink(@ofr.Title, "Details", "Offer", new { @id = ofr.Id })</li>
                        }
                        </ul>
                        @Html.ActionLink("See more", "Index", "Offer", null, new { @class="btn btn-primary btn-xs" })
                    }
                    else
                    {
                        <p><em>You don't have any active offers.</em></p>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="intro-cards">
            <div class="col-xs-12 col-md-4">
                <div class="card card-1">
                    <div class="inner">
                        <i class="fa fa-4x fa-cube"></i>
                        <h2 class="title">Join groups</h2>
                        <div class="caption">
                            <p>First and foremost, you'll have to join one or more groups to take full advantage of Deal.</p>
                            <p>Groups are central hubs, based on 1 or more things that users have in common, such as a location.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card-2">
                    <div class="inner">
                        <i class="fa fa-4x fa-eye"></i>
                        <h2 class="title">View requests & offers</h2>
                        <div class="caption">
                            <p>Each group contains multiple requests and offers. You can view each of these individually and respond by adding a comment. You can even create your own requests and offers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card-3">
                    <div class="inner">
                        <i class="fa fa-4x fa-exchange"></i>
                        <h2 class="title">Make exchanges</h2>
                        <div class="caption">
                            <p>Reply to an item with your own suboffer or -request and create an exchange by interacting with other people.</p>
                            <p>You'll earn or give points, based on which action will be done.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>