@model Deal.Models.ViewModels.OffersListViewModel

<div class="row">
    @if(Model != null)
    {
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-spaced" role="tablist">
            <li role="presentation" class="active"><a href="#open-offers" aria-controls="open-offers" role="tab" data-toggle="tab">Open offers <span class="badge">@Model.OpenOffers.Count()</span></a></li>
            <li role="presentation"><a href="#completed-offers" aria-controls="completed-offers" role="tab" data-toggle="tab">Completed offers <span class="badge">@Model.CompletedOffers.Count()</span></a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="open-offers">
                <div class="list-container">
                @if(Model.OpenOffers.Count() > 0)
                {
                    <ul class="list list-half-width">
                        @foreach (var off in Model.OpenOffers)
                        {
                            <li class="col-xs-12 col-md-6 @(off.ParentRequest == null ? "offer" : "suboffer")">
                                <div class="item">
                                    <h3 class="name"><a href="@Url.Action("Details", new { id = @off.Id })" title="View details">@off.Title</a></h3>
                                    <div class="item-stats">
                                        <div class="stat" title="Created at"><i class="fa fa-fw fa-calendar"></i> @off.CreatedAt.ToString("MMM dd, yyyy")</div>
                                        <div class="stat" title="Group"><i class="fa fa-fw fa-cube"></i> @off.Group.Name</div>
                                    </div>
                                    <div class="description">@(off.Description.Length > 400 ? off.Description.Substring(0,400) + "..." : off.Description)</div>
                                    <div class="read-more">
                                        @Html.ActionLink("Read more", "Details", new { id = @off.Id }, new { @class="btn btn-default" })
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <p><em>You have no active offers.</em></p>
                        </div>
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="completed-offers">
                <div class="list-container">
                    @if(Model.CompletedOffers.Count() > 0)
                    {
                    <ul class="list list-half-width">
                        @foreach (var off in Model.CompletedOffers)
                        {
                            <li class="col-xs-12 col-md-6 @(off.ParentRequest == null ? "offer" : "suboffer")">
                                <div class="item">
                                    <h3 class="name"><a href="@Url.Action("Details", new { id = @off.Id })" title="View details">@off.Title</a></h3>
                                    <div class="is-completed">
                                        <i class="fa fa-2x fa-check green"></i>
                                    </div>
                                    <div class="item-stats">
                                        <div class="stat" title="Created at"><i class="fa fa-fw fa-calendar"></i> @off.CreatedAt.ToString("MMM dd, yyyy")</div>
                                        <div class="stat" title="Group"><i class="fa fa-fw fa-cube"></i> @off.Group.Name</div>
                                    </div>
                                    <div class="description">@(off.Description.Length > 400 ? off.Description.Substring(0,400) + "..." : off.Description)</div>
                                    <div class="read-more">
                                        @Html.ActionLink("Read more", "Details", new { id = @off.Id }, new { @class="btn btn-default" })
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <p><em>You have no completed offers.</em></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Something went wrong.</p>
    }
    </div>
</div>