@model Deal.Models.ViewModels.OfferViewModel
@{
    ViewBag.Title = "Offers";
    if(Model.Offer.RequestId != null)
    {
        ViewBag.SubTitle = "Create a suboffer";
        ViewBag.Description = "Create a suboffer";    
    }
    else
    {
        ViewBag.SubTitle = "Create a new offer";
        ViewBag.Description = "Create a new offer";
    }
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Offer.UserId)
            @Html.HiddenFor(m => m.Offer.GroupId)
            @Html.HiddenFor(m => m.Offer.RequestId)
            <fieldset>
                <legend class="hidden">Create a new offer</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="detail">
                @if(Model.Offer.RequestId != null)
                {
                    <p class="red"><i class="fa fa-fw fa-arrow-right"></i> In response to: @Html.ActionLink(@Model.Offer.ParentRequest.Title, "Details", "Request", new { @id = @Model.Offer.RequestId })</p>
                }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.Title)
                    @Html.TextBoxFor(m => m.Offer.Title, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.Description)
                    @Html.TextAreaFor(m => m.Offer.Description, new { @class= "form-control", rows = 6, cols = 50 })
                </div>
                @if(Model.Offer.RequestId == null)
                {
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.CategoryId)
                    @Html.DropDownListFor(m => m.Offer.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select a category --", new { @class= "form-control" })
                </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.Offer.CategoryId)
                }
                @Html.ActionLink("Cancel", "Details", "Request", new { @id = @Model.Offer.RequestId }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>