@model Deal.Models.ViewModels.OfferViewModel
@{
    ViewBag.Title = @Model.Offer.Title;
    ViewBag.Description = "Details";
    if(@Model.Offer.ParentRequest != null)
        ViewBag.SubTitle = "SubOffer";
    else
        ViewBag.SubTitle = "Offer";
}

<div class="row" id="offer-detail" data-id="offer-@Model.Offer.Id">
    @Html.AntiForgeryToken()
    <div class="col-xs-12 col-md-6">
        <div class="detail-top">
            @if(@Model.Offer.ParentRequest != null)
            {
                <p class="red"><i class="fa fa-fw fa-arrow-right"></i> In response to: @Html.ActionLink(@Model.Offer.ParentRequest.Title, "Details", "Request", new { @id = @Model.Offer.RequestId })</p>
            }
            <div class="created-at">
                <p><i class="fa fa-fw fa-calendar"></i> <strong>Posted:</strong> @Model.Offer.CreatedAt.ToString("MMM dd, yyyy - HH:mm")</p>
            </div>
            <ul class="details-list">
                <li title="User" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-user"></i> @Html.ActionLink(@Model.Offer.User.UserName, "Details", "User", new { @id = @Model.Offer.User.Id })</li>
                <li title="Group" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-cube"></i> @Html.ActionLink(@Model.Offer.Group.Name, "Details", "Group", new { @id = @Model.Offer.Group.Id })</li>
                <li title="Category" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-bookmark"></i> @Model.Offer.Category.Name</li>
                @if (@Model.Offer.IsCompleted == true)
                {
                    <li><span class="green"><i class="fa fa-lg fa-fw fa-check"></i> Completed</span></li>
                }
            </ul>
        </div>
        <div class="detail-middle">
            <h3>Description</h3>
            <p>@Model.Offer.Description</p>
        </div>
        @if(Model.Offer.User.ToString() == User.Identity.Name.ToString())
        {
        <div class="detail-bottom">
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Offer.Id">Edit Details <i class="fa fa-edit"></i></a>
            <a 	class="confirm-link btn btn-danger"
                data-id="@Model.Offer.Id"
                data-name="@Model.Offer.Title"
                data-cat = "offer"
                data-action="delete"
                data-update-target="#offer-detail"
                data-redirect-href="@Url.Action("Index", "Offer")"
                href="@Url.Action("Delete", new { id = @Model.Offer.Id })"
                title="Delete Offer: @Model.Offer.Title">
                Delete
                <i class="fa fa-trash"></i>
            </a>
        </div>
        }
    </div>
</div>

@if(Model.Offer.ParentRequest == null)
{
<div class="row">
    <div class="col-xs-12 exchanges">
        <h3>Requests</h3>
        @if(Model.Offer.IsCompleted == false)
        {
            @if(Model.Requests != null && Model.Requests.Count() > 0)
            {
                <div class="table-responsive" id="offers-list">
                    <table class="table table-striped datatable">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>User</th>
                                <th>Type of work</th>
                                <th>Estimated Time</th>
                                @if(Model.Offer.User.ToString() == User.Identity.Name.ToString())
                                {
                                <th>Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var req in Model.Requests)
                            {
                            <tr data-id="request-@req.Id">
                                <td>@Html.ActionLink(@req.Title, "Details", "Request", new { @id = req.Id })</td>
                                <td>@req.User</td>
                                <td>@req.Bonus.Value</td>
                                <td>@req.EstimatedTime mins</td>
                                @if(Model.Offer.User.ToString() == User.Identity.Name.ToString())
                                {
                                <td>
                                    <a 	class="confirm-link"
                                    data-id="@req.Id" 
                                    data-name="@req.Title"
                                    data-cat = "request"
                                    data-action="complete"  
                                    data-update-target="#requests-list"
                                    data-update-href="@Url.Action("Details", "Request", new { @id = @req.Id })"
                                    href="@Url.Action("AcceptRequest", new { @offId = @Model.Offer.Id, @reqId = @req.Id })"
                                    title="Accept Request: @req.Title"><span class="fa fa-lg fa-check"></span> Accept	
                                    </a>
                                </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p><em>No requests yet.</em></p>
            }
            <a class="btn btn-primary btn-xs" asp-action="Create" asp-controller="Request" asp-route-grpId="@Model.Offer.Group.Id" asp-route-ofrId="@Model.Offer.Id">Make an offer <i class="fa fa-plus"></i></a>
        }
        else
        {
            <div class="table-responsive" id="offers-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Type of work</th>
                            <th>Estimated Time</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.ActionLink(@Model.AcceptedRequest.Title, "Details", "Request", new { @id = Model.AcceptedRequest.Id })</td>
                            <td>@Model.AcceptedRequest.Bonus.Value</td>
                            <td>@Model.AcceptedRequest.EstimatedTime mins</td>
                            <td>Accepted</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
}

<div class="row">
    <div class="col-xs-12">
        <h3>Comments</h3>
        @if(Model.Comments != null && Model.Comments.Count() > 0)
        {
            <ul id="comments-list">
            @foreach(var cmnt in Model.Comments)
            {
                <li class="comment" data-id="comment-@cmnt.Id">
                    <div class="meta">
                        <ul class="list-unstyled">
                            <li class="user">@Html.ActionLink(@cmnt.User.UserName, "Details", "User", new { @id = @cmnt.User.Id })</li>
                            <li class="date">@cmnt.CreatedAt.ToString("MMM dd, yyyy - HH:mm")</li>
                        </ul>
                    </div>
                    <div class="content">@cmnt.Content</div>
                    @if(cmnt.UserId == ViewBag.UserId)
                    {
                    <div class="tools">
                        <ul class="list-unstyled">
                            <li>
                                <a 	class="confirm-link"
                                    data-id="@cmnt.Id"
                                    data-name="@cmnt.Id"
                                    data-cat = "comment"
                                    data-action="delete"
                                    data-redirect-target="@Url.Action("Details", "Offer" , new { id = @Model.Offer.Id })"
                                    href="@Url.Action("Delete", "Comment" , new { id = @cmnt.Id })"
                                    title="Delete Comment: @cmnt.Id">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                    }
                </li>
            }
            </ul>
        }
        else
        {
            <p><em>No comments found.</em></p>
        }
    </div>
    @if(Model.Offer.IsCompleted == false)
    {
    <div class="col-xs-12 col-md-6">
        <h4>Add a new comment</h4>
        @Component.Invoke("AddComment", "Offer", Model.Offer.Id)
    </div>
    }
</div>



@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}