@model Deal.Models.ViewModels.OfferViewModel
@{
    ViewBag.Title = @Model.Offer.Title;
    ViewBag.Description = "Update the information for offer @Model.Offer.Title";
    if(@Model.Offer.RequestId != null)
        ViewBag.SubTitle = "Edit this suboffer";
    else
        ViewBag.SubTitle = "Edit this offer";
}
<div class="row">
    <div class="col-md-12 col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Offer.Id)
            
            <fieldset>
                <legend class="hidden">Create a new offer</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Offer.IsCompleted, new { @disabled = "disabled" }) Completed
                    </label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.Title)
                    @Html.TextBoxFor(m => m.Offer.Title, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.Description)
                    @Html.TextAreaFor(m => m.Offer.Description, new { @class= "form-control", rows = 15, cols = 50 })
                </div>
                @if(@Model.Offer.RequestId != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Offer.CategoryId)
                        @Html.DropDownListFor(m => m.Offer.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select a category --", new { @class= "form-control", @disabled= "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Offer.RequestId)
                        @Html.DropDownListFor(m => m.Offer.RequestId, new SelectList(Model.Requests, "Id", "Title"), "-- Select a request --", new { @class= "form-control", @disabled= "disabled" })
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Offer.CategoryId)
                        @Html.DropDownListFor(m => m.Offer.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select a category --", new { @class= "form-control" })
                    </div>
                }
                
                @Html.ActionLink("Cancel", "Details", new { @id = Model.Offer.Id } ,new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>