@model Deal.Models.ViewModels.NewCommentViewModel

@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.EntityType)
    @Html.HiddenFor(m => m.UserId)
    <fieldset>
        <legend class="hidden">Create a new comment</legend>
        @Html.ValidationSummary("", new {@class="alert-danger"})
        <div class="form-group">
            @Html.TextAreaFor(m => m.Comment.Content, new { @class= "form-control", rows = 6, cols = 50 })
        </div>
        <input type="submit" value="Submit" class="btn btn-default" />
    </fieldset>
}