/*
Dashboard List
==========================================================
*/
.viz-amount{
    position:relative;
    display:block;
    font-size:24px;
    color: $darkgreen;
}
.viz-amount .fa{
    position:absolute;
    right:6px;
    top:6px;
    color: $green;
}
.viz-amount small{
    font-size: 70%;
    text-transform: uppercase;
}