﻿/*
Sidebar off-canvas toggle
==========================================================
*/
.sidebar-toggle{
    background: $white;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 10px;
    margin:11px 2px 0 11px;
    box-sizing: border-box;
    color: $darkgrey;
}
.sidebar-toggle:hover{
    background: #00b4ff;
    color: $white;
    .icon-bar{
        background-color: $white;
    }
}
.sidebar-toggle .icon-bar {
    background-color: $darkgrey;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.sidebar-toggle .icon-bar+.icon-bar {
    margin-top:4px;
}

/*
Sidebar
==========================================================
*/
.sidebar-backoffice{
    position:fixed;
    width: $sidebar-width;
    height: 100%;
    margin-top: $header-height;
    top:0;
    background: darken($bg, 5%);
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}
.sidebar-push-left{
    -webkit-transform: translate3d(-$sidebar-width,0,0);
    -moz-transform: translate3d(-$sidebar-width,0,0);
    -ms-transform: translate3d(-$sidebar-width,0,0);
    -o-transform: translate3d(-$sidebar-width,0,0);
    transform: translate3d(-$sidebar-width,0,0);
}
.sidebar-push-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.main-push{
    -webkit-transform: translate3d($sidebar-width,0,0);
    -moz-transform: translate3d($sidebar-width,0,0);
    -ms-transform: translate3d($sidebar-width,0,0);
    -o-transform: translate3d($sidebar-width,0,0);
    transform: translate3d($sidebar-width,0,0);
}
.main-full{
    margin-left: $sidebar-width;
}