@model IEnumerable<Deal.Models.Category>
@Html.AntiForgeryToken()

@if (Model != null && Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var cat in Model)
				{
					<tr data-id="category-@cat.Id">
						<td><a href="@Url.Action("Edit", new { id = @cat.Id })" title="Edit Category" data-toggle="tooltip" data-placement="top">@cat.Name</a></td>
						<td>@cat.Description</td>
						<td>
							@if (@cat.DeletedAt != null)
							{
								<a 	class="confirm-link"
								data-id="@cat.Id" 
								data-name="@cat.Name"
								data-cat = "category"
								data-action="softundelete"  
								data-update-target="#category-list" 
								data-update-href="@Url.Action("Index", "Category")"
								href="@Url.Action("SoftUnDelete", new { id = @cat.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Soft UnDelete Category"><span class="fa fa-lg fa-eye-slash"></span></a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@cat.Id" 
								data-name="@cat.Name"
								data-cat = "category"
								data-action="softdelete"  
								data-update-target="#category-list" 
								data-update-href="@Url.Action("Index", "Category")"
								href="@Url.Action("SoftDelete", new { id = @cat.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Soft Delete Category"><span class="fa fa-lg fa-eye"></span></a>
							}
							<a 	class="confirm-link"
								data-id="@cat.Id" 
								data-name="@cat.Name"
								data-cat = "category"
								data-action="delete"  
								data-update-target="#category-list" 
								data-update-href="@Url.Action("Index", "Category")"
								href="@Url.Action("Delete", new { id = @cat.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Delete Category"><span class="fa fa-lg fa-trash"></span></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p><em>No categories in the database!</em></p>
}
@Html.ActionLink("Create a new category", "Create", new { }, new { @class = "btn btn-primary" })