@model Deal.Models.Identity.ViewModels.ProfileViewModel
@{
    ViewBag.Title = @Model.User.UserName;
    ViewBag.SubTitle = "Update the information for your profile";
    ViewBag.Description = "Update the information for your profile";
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Profile.UserId)
            <fieldset>
                <legend class="hidden">Update the information for this user</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Email)
                    @Html.TextBoxFor(m => m.User.Email, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Profile.FirstName)
                    @Html.TextBoxFor(m => m.Profile.FirstName, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Profile.LastName)
                    @Html.TextBoxFor(m => m.Profile.LastName, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Profile.Description)
                    @Html.TextAreaFor(m => m.Profile.Description, new { @class= "form-control", rows = 6, cols = 50 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Profile.Location)
                    @Html.TextBoxFor(m => m.Profile.Location, new { @class= "form-control" })
                </div>
                @Html.ActionLink("Back", "Index", new { }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>