@using System.Security.Claims
@model Deal.Models.Identity.ViewModels.ProfileViewModel
@{
    ViewBag.Title = Model.User.UserName;
    ViewBag.SubTitle = "Details";
    ViewBag.Description = "An overview of my profile";
}

<div class="profile-wrapper">
@if(Model != null)
{
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sidebar deal-panel">
                <div class="profile-detail-top">
                    <img class="profile-pic" src="~/images/default-user.png" alt="">
                    <ul class="details-list">
                        <li title="Name">
                            <span class="list-label">Name</span>
                            <span class="list-content">@Model.Profile.FirstName @Model.Profile.LastName</span>
                        </li>
                        <li title="Location">
                            <span class="list-label">Location</span>
                            <span class="list-content">@Model.Profile.Location</span>
                        </li>
                        <li title="Points">
                            <span class="list-label">Points</span>
                            <span class="list-content">@Model.Profile.Points.ToString()</span>
                        </li>
                    </ul>
                </div>
                @Html.ActionLink("Edit profile", "Edit", "User", null, new { @class="btn btn-default btn-xs btn-block" })
                @Html.ActionLink("Change password", "ChangePassword", "Manage", null, new { @class="btn btn-default btn-xs btn-block" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="description deal-panel row">
                <h3 class="subtitle">About me</h3>
                @if(Model.Profile.Description != null)
                {
                    <p>@Model.Profile.Description</p>    
                }
                else
                {
                    <p><em>No description added yet.</em></p>
                }
            </div>
            <div class="activity deal-panel row">
                <h3 class="subtitle">Activity</h3>
                <div class="activity-column col-md-4">
                    <h4>Groups</h4>        
                    @if (Model.Groups != null && Model.Groups.Count() > 0)
                    {
                        <ul>
                        @foreach(var grp in Model.Groups)
                        {
                            <li>@Html.ActionLink(@grp.Name, "Details", "Group", new { @id = @grp.Id })</li>
                        }
                        </ul>
                    }
                    else
                    {
                        <p><em>You haven't joined any groups.</em></p>
                    }
                </div>
                <div class="activity-column col-md-4">
                    <h4>Requests</h4>        
                    @if (Model.Requests != null && Model.Requests.Count() > 0)
                    {
                        <ul>
                        @foreach(var req in Model.Requests)
                        {
                            <li>@Html.ActionLink(@req.Title, "Details", "Request", new { @id = @req.Id })</li>
                        }
                        </ul>
                    }
                    else
                    {
                        <p><em>You haven't submitted any requests.</em></p>
                    }
                </div>
                <div class="activity-column col-md-4">
                    <h4>Offers</h4>
                    @if (Model.Offers != null && Model.Offers.Count() > 0)
                    {
                        <ul>
                        @foreach(var ofr in Model.Offers)
                        {
                            <li>@Html.ActionLink(@ofr.Title, "Details", "Offer", new { @id = @ofr.Id })</li>
                        }
                        </ul>
                    }
                    else
                    {
                        <p><em>You haven't submitted any offers.</em></p>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <p>Something went wrong.</p>
        </div>
    </div>
}
</div>

@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}