@model IEnumerable<Deal.Models.Identity.ApplicationUser>
@{
    ViewBag.Title = "Leaderboard";
    ViewBag.SubTitle = "Which users have the most points?";
    ViewBag.Description = "Which users have the most points?";
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>User</th>
                    <th>Points</th>
                </thead>
                <tbody>
                @{int i = 1;}
                @foreach(var usr in Model.Take(10))
                {
                    <tr>
                        @switch(i)
                        {
                            case 1:
                                <td title="#1"><i class="fa fa-2x fa-star yellow"></i></td>
                                break;
                            case 2:
                                <td title="#2"><i class="fa fa-lg fa-star-half-o yellow"></i></td>
                                break;
                            case 3:
                                <td title="#3"><i class="fa fa-lg fa-star-o yellow"></i></td>
                                break;
                            default:
                                <td>@i</td>
                                break;
                        }
                        <td>
                            <a asp-action="Details" asp-controller="User" asp-route-id="@usr.Id">@usr.UserName</a>
                        </td>
                        <td>@usr.Profile.Points</td>
                    </tr>
                    i++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}