@model IEnumerable<Deal.Models.Identity.ApplicationRole>
@Html.AntiForgeryToken()

@if (Model != null && Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var role in Model)
				{
					<tr>
						<td><a href="@Url.Action("Edit", new { id = @role.Id })" title="Edit Role" data-toggle="tooltip" data-placement="top">@role.Name</a></td>
						<td>@role.Description</td>
						<td>
                            <a 	href="@Url.Action("Users", new { id = @role.Id })" 
								title="Manage Users"
                                data-toggle="tooltip" data-placement="top">
                                <span class="fa fa-lg fa-cog"></span>
                            </a>
							@if (@role.DeletedAt != null)
							{
								<a 	class="confirm-link"
								data-id="@role.Id" 
								data-name="@role.Name"
								data-cat = "role"
								data-action="softundelete"  
								data-update-target="#roles-list" 
								data-update-href="@Url.Action("Index", "Role")"
								href="@Url.Action("SoftUnDelete", new { id = @role.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Soft UnDelete Role"><span class="fa fa-lg fa-eye-slash"></span></a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@role.Id" 
								data-name="@role.Name"
								data-cat = "role"
								data-action="softdelete"  
								data-update-target="#roles-list" 
								data-update-href="@Url.Action("Index", "Role")"
								href="@Url.Action("SoftDelete", new { id = @role.Id })"
                                data-toggle="tooltip" data-placement="top"
								title="Soft Delete Role"><span class="fa fa-lg fa-eye"></span></a>
							}
							<a 	class="confirm-link"
								data-id="@role.Id" 
								data-name="@role.Name"
								data-cat = "role"
								data-action="delete"  
								data-update-target="#roles-list" 
								data-update-href="@Url.Action("Index", "Role")"
								href="@Url.Action("Delete", new { id = @role.Id })"
                                data-toggle="tooltip" data-placement="top" 
								title="Delete Role"><span class="fa fa-lg fa-trash"></span></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p><em>No roles in the database!</em></p>
}
@Html.ActionLink("Create a new role", "Create", new { }, new { @class = "btn btn-primary" })