@model Deal.Models.Identity.ViewModels.AdminUserRoleViewModel
@Html.AntiForgeryToken()

@if (Model != null)
{
	<div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usr in Model.UsersInRole)
                    {
                        <tr data-id="user-@usr.Id">
                            <td><a href="@Url.Action("Edit", "User", new { id = @usr.Id })" title="Edit User" data-toggle="tooltip" data-placement="top">@usr.UserName</a></td>
                            <td>@usr.Email</td>
                            <td>
                                <a 	class="confirm-link"
                                data-id="@usr.Id" 
                                data-name="@usr.UserName"
                                data-cat = "user"
                                data-action="remove"  
                                data-update-target="#users-list" 
                                data-update-href="@Url.Action("Users", "Role")"
                                href="@Url.Action("RemoveUser", new { @roleId = @Model.Role.Id, @userId = @usr.Id })"
                                data-toggle="tooltip" data-placement="top"
                                title="Remove User from Role"><span class="fa fa-2x fa-check-square"></span></a>
                            </td>
                        </tr>
                    }
                    @foreach (var usr in Model.UsersNotInRole)
                    {
                        <tr data-id="user-@usr.Id">
                            <td><a href="@Url.Action("Edit", "User", new { id = @usr.Id })" title="Edit User: @usr.UserName">@usr.UserName</a></td>
                            <td>@usr.Email</td>
                            <td>
                                <a 	class="confirm-link"
                                data-id="@usr.Id" 
                                data-name="@usr.UserName"
                                data-cat = "user"
                                data-action="add"  
                                data-update-target="#users-list" 
                                data-update-href="@Url.Action("Users", "Role")"
                                href="@Url.Action("AddUser", new { @roleId = @Model.Role.Id, @userId = @usr.Id })"
                                data-toggle="tooltip" data-placement="top"
                                title="Add User to Role"><span class="fa fa-2x fa-square"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.ActionLink("Back to roles", "Index", "Role", null, new { @class="btn btn-default" })
}
else
{
	<p>No users found for this role!</p>
}