@model Deal.Models.Identity.ViewModels.AdminRoleViewModel
@{
    ViewBag.Title = "Roles";
    ViewBag.SubTitle = "Create a new role";
    ViewBag.Description = "Create a new role";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend class="hidden">Create a new role</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class= "form-control", rows = 4, cols = 50 })
                </div>
                @Html.ActionLink("Back", "Index", new { }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>