@model Deal.Models.Identity.ViewModels.AdminUserRoleViewModel
@{
    ViewBag.Title = @Model.Role.Name;
    ViewBag.SubTitle = "Users with this Role";
    ViewBag.Description = "Organize this Role: " + @Model.Role.Name;
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row" id="users-list">
    <div class="col-xs-12">
        @Html.Partial("_UserListPartial", @Model)
    </div>      
</div>

@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}