﻿@using System.Security.Claims

<div class="header-backoffice" role="header">
    <div class="container-fluid">
        <a class="logo" href="/backoffice">
            <img src="~/images/logo.png" alt="Deal">
        </a>
        <span class="logo-text">Backoffice</span>
        <div class="sidebar-toggle pull-left hidden">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="navigation pull-right">
            <a class="link" href="/">Back to Deal</a>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(@User.GetUserName(), "Index", "User", new { Area = "" }, new { @class= "link" });
            }
        </div>
    </div>
</div>