﻿@* Sidebar, on the left in the backoffice *@
<aside class="sidebar-backoffice">
    <nav class="main-navigation">
        <ul>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                <a href="@Url.Action("Index", "Home")" title="">
                    <span class="fa fa-dashboard"></span>
                    <span class="label-menu">Dashboard</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Group" ? "active" : "")">
                <a href="@Url.Action("Index", "Group")" title="Show all groups">
                    <span class="fa fa-cube"></span>
                    <span class="label-menu">Groups</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Category" ? "active" : "")">
                <a href="@Url.Action("Index", "Category")" title="Show all categories">
                    <span class="fa fa-bookmark"></span>
                    <span class="label-menu">Categories</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                <a href="@Url.Action("Index", "User")" title="Show all users">
                    <span class="fa fa-users"></span>
                    <span class="label-menu">Users</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Role" ? "active" : "")">
                <a href="@Url.Action("Index", "Role")" title="Show all roles">
                    <span class="fa fa-flash"></span>
                    <span class="label-menu">Roles</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Request" ? "active" : "")">
                <a href="@Url.Action("Index", "Request")" title="Show all requests">
                    <span class="fa fa-exclamation-circle"></span>
                    <span class="label-menu">Requests</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Offer" ? "active" : "")">
                <a href="@Url.Action("Index", "Offer")" title="Show all offers">
                    <span class="fa fa-question-circle"></span>
                    <span class="label-menu">Offers</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
