.intro-cards{
    .card{
        background: $green;
        color: $grey;
        padding: 1rem 3.5rem;
        border-radius: 5px;
        text-align: center;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        .fa{
            margin-bottom: 3rem;
        }
        .title{
            margin-bottom: 2rem;
            font-size: 2.5rem;
        }
        .caption{
            font-size: 1.3rem;
        }
    }
    .card-1{
        background: $red;
    }
    .card-2{
        background: $darkgreen;
    }
    @media screen and (max-width: $screen-md)
    {
        .card{
            margin-bottom: 2rem;
            min-height: 0;
            padding: 3rem 6rem;
            .fa{
                margin-bottom: 1rem;
            }
        }
    }
}