.detail-top{
    .details-list{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin-right: 1.5rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}