﻿.header-frontoffice{
    background: $green;
    height: $header-height;
    top:0;
    left:0;
    width:100%;
    position: fixed;
    z-index: 999;
    .container-fluid{
        padding-left:0;
        padding-right:0;
    }
    .logo{
        padding-left: 1rem;
        display: inline-block;
        height: $header-height;
        overflow: hidden;
        float: left;
        h1,h2{
            display: none;
        }
    }
    .logo-text{
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        width: auto;
        height: $header-height;
        margin-left: 1rem;
        cursor: default;
    }
    .navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        .link-container{
            display: flex;
            padding: 0;
            margin: 0;
        }
        .link{
            color: $white;
            display: flex;
            align-items: center;
            padding: 0 1.5rem;
            height: $header-height;
            text-decoration: none;
            &:hover{
                background: lighten($green, 3%);
            }
        }
    }
    @media screen and (max-width: $screen-sm)
    {   
        .logo{
            display: block;
            width: 100%;
            text-align: center;
            padding: 0;
        }
        .logo-text{
            display: none;
        }
        .navigation{
            display: none;
        }
    }
}