.nav.nav-tabs.nav-tabs-spaced{
    margin-left: 15px;
    margin-right: 15px;
}
.list-container{
    margin: 2rem 0 0 0;
    .list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list-full-width{
        display: block;
    }
    .list-half-width{
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        background: $white;
        padding: 1.5rem;
        margin-bottom: 1rem;
        border: 1px solid $grey;
        border-radius: 5px;
        position: relative;
        .name{
            margin: 0 0 1.5rem 0;
            color: $green;
        }
        .item-stats{
            font-size: 85%;
            color: $darkgreen;
            display: flex;
            .stat{
                margin-right: 2rem;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
        .is-completed{
            position: absolute;
            top: 1rem;
            right: 1rem;
            a{
                color: #ddd;
                &:hover{
                    color: $lightgreen;
                }
            }
        }
        .description{
            border-top: 1px solid $grey;
            padding: 1rem 0;
            margin: 1rem 0;
        }
    }
}