﻿.main-navigation{
    ul{
        list-style:none;
        margin:0;
        padding:0;
        .menu-item{
            display: block;
            position: relative;
            a{
                display: block;
                text-decoration:none;
                font-size:16px;
                color: $darkgreen;
                padding: 2rem;
                transition: all .2s ease;
                &:hover{
                    color: $green;
                    background: darken($bg, 10%);
                }
                .fa{ width: 3rem; }
            }
            &.active,
            &.active:hover{
                a{ color: $white; background: $darkgreen; }
            }
            &.log-off{
                display: none;
            }
        }
        @media screen and (max-width: $screen-sm)
        {
            .menu-item.log-off{
                display: block;
            }
        }
    }
}