.intro{
    margin-top: 2rem;
}
.overview-block{
    margin-bottom: 1.5rem;
    background: $white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $grey;
    
    
    .table-responsive{
        border: none;
    }
    
    .subtitle{
        margin: 0 0 1rem 0;
    }
    .overview-list{
        margin: 0;
        padding: 0;
        list-style: none;
        li a{
            display: block;
            padding: 3px;
            margin-bottom: 2px;
            border-bottom: 1px solid $grey;
        }
        li:last-of-type a{
            border: none;
        }
    }
    .btn{
        margin-top: 1rem;
    }
}