@model IEnumerable<Deal.Models.Offer>
@Html.AntiForgeryToken()

@if (Model != null && Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Status</th>
					<th>Title</th>
					<th>Description</th>
					<th>Request</th>
					<th>Group</th>
					<th>Category</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var off in Model)
				{
					<tr data-id="offer-@off.Id">
						<td>
							@if (@off.IsCompleted != true)
							{
								<a 	class="confirm-link"
								data-id="@off.Id" 
								data-name="@off.Title"
								data-cat = "offer"
								data-action="complete"  
								data-update-target="#offers-list"
								data-update-href="@Url.Action("Index", "Offer")"
								href="@Url.Action("ToggleComplete", new { id = @off.Id })"
                                data-toggle="tooltip" data-placement="right"
								title="Complete Offer"><span class="fa fa-lg fa-circle-o"></span>	
								</a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@off.Id" 
								data-name="@off.Title"
								data-cat = "offer"
								data-action="uncomplete"  
								data-update-target="#offers-list"
								data-update-href="@Url.Action("Index", "Offer")"
								href="@Url.Action("ToggleComplete", new { id = @off.Id })"
                                data-toggle="tooltip" data-placement="right"
								title="UnComplete Offer"><span class="fa fa-lg fa-check-circle"></span>	
								</a>
							}
						</td>
						<td><a href="@Url.Action("Edit", new { id = @off.Id })" title="Edit Offer" data-toggle="tooltip" data-placement="top">@off.Title</a></td>
						<td>@off.Description</td>
						<td>@off.RequestId</td>
						<td>@off.GroupId</td>
						<td>@off.CategoryId</td>
						<td>@off.CreatedAt</td>
						<td>
							@if (@off.DeletedAt != null)
							{
								<a 	class="confirm-link"
								data-id="@off.Id" 
								data-name="@off.Title"
								data-cat = "offer"
								data-action="softundelete"  
								data-update-target="#offers-list" 
								data-update-href="@Url.Action("Index", "Offer")"
								href="@Url.Action("SoftUnDelete", new { id = @off.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Soft UnDelete Offer"><span class="fa fa-lg fa-eye-slash"></span></a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@off.Id" 
								data-name="@off.Title"
								data-cat = "offer"
								data-action="softdelete"  
								data-update-target="#offers-list" 
								data-update-href="@Url.Action("Index", "Offer")"
								href="@Url.Action("SoftDelete", new { id = @off.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Soft Delete Offer"><span class="fa fa-lg fa-eye"></span></a>
							}
							<a 	class="confirm-link"
								data-id="@off.Id" 
								data-name="@off.Title"
								data-cat = "offer"
								data-action="delete"  
								data-update-target="#offers-list" 
								data-update-href="@Url.Action("Index", "Offer")"
								href="@Url.Action("Delete", new { id = @off.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Delete Offer"><span class="fa fa-lg fa-trash"></span></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p><em>No offers in the database!</em></p>
}
@Html.ActionLink("Create a new offer", "Create", new { }, new { @class = "btn btn-primary" })