@model Deal.Models.ViewModels.OfferViewModel
@{
    ViewBag.Title = @Model.Offer.Title;
    ViewBag.SubTitle = "Edit this offer";
    ViewBag.Description = "Update the information for offer @Model.Offer.Title";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Offer.Id)
            <fieldset>
                <legend class="hidden">Create a new request</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Offer.IsCompleted) Completed
                    </label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.Title)
                    @Html.TextBoxFor(m => m.Offer.Title, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.Description)
                    @Html.TextAreaFor(m => m.Offer.Description, new { @class= "form-control", rows = 4, cols = 50 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.RequestId)
                    @Html.DropDownListFor(m => m.Offer.RequestId, new SelectList(Model.Requests, "Id", "Title"), "-- No parentrequest --", new { @id= "dropdown-source", @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.CategoryId)
                    @Html.DropDownListFor(m => m.Offer.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select an option --", new { @class= "form-control dropdown-target" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.GroupId)
                    @Html.DropDownListFor(m => m.Offer.GroupId, new SelectList(Model.Groups, "Id", "Name"), "-- Select an option --", new { @class= "form-control dropdown-target" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Offer.UserId)
                    @Html.DropDownListFor(m => m.Offer.UserId, new SelectList(Model.Users, "Id", "UserName"), "-- Select a user --", new { @class= "form-control" })
                </div>
                @Html.ActionLink("Back", "Index", new { }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>

@section scripts {
     <script type="text/javascript" src="/js/backoffice/dropdown.js"></script>
}