*{
	box-sizing: border-box;
}

body{
    background-color: $bg;
    color: $darkgrey;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

.btn-primary{
    background: $green;
    border-color: darken($green, 2%);
    &:hover, &:focus, &:active{
        background: darken($green, 5%);
        border-color: darken($green, 7%);
    }
    &:active:hover, &:active:focus{
        background: $darkgreen;
        border-color: darken($darkgreen, 10%);
    }
}

a, .btn-link{
    color: $green;
    transition: all .2s ease;
    &:hover, &:focus, &:active{
        color: lighten($green, 15%);
        text-decoration: none;
    }
}

/*
Main Content
==========================================================
*/
#main{
    position: relative;
    min-height: 496px;
    width: auto;
    padding-top: $header-height + 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}
#main .row{
    margin-left:0;
    margin-right:0;
}
.main-header h1{
    margin:0;
    padding: 0 16px 16px 16px;
    color: #555555;
    font-weight: 300;
    color: $green;
    font-size: 4rem;
    
    small{
        font-weight: 300;
        margin-top: 10px;
        display: block;
    }
}

@media screen and (max-width: $screen-sm)
{
    #main{
        padding-left: 0;
        padding-right: 0;
    }
}


/*
Table
==========================================================
*/
.table>thead>tr>th:last-of-type, .table>tbody>tr>td:last-of-type{
    text-align:right;
}
.table>tbody>tr>td a>i{
    font-size:1.6em;
    margin-left:12px;
}
.table>tbody>tr>td a>i:first-of-type{
    margin-left:0;
}