.green{
    color: $lightgreen !important;
}
.yellow{
    color: $yellow !important;
}
.red{
    color: $red !important;
}
.grey{
    color: #ddd;
}

.strong{
    font-weight: bold;
}

textarea {
    max-width: 100%; 
    max-height: 100%;
}