// Containers
$header-height: 75px;
$sidebar-width: 250px;

// Colors
$green: #208778;
$darkgreen: #3e575e;
$red: #f53357;
$grey: #e6e6e6;
$white: #fff;
$bg: #eee;
$darkgrey: #8C8C8C;
$yellow: #FFC107;
$lightgreen: #8BC34A;

// Viewports
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px; 