.detail-middle{
    margin: 2rem 0;
}

.exchanges{
    margin: 3rem 0;
}

#comments-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
    .meta{
        .user{
            font-size: 1.5rem;
        }
        .date{
            //font-style: italic;
            font-size: 1.2rem;
        }
    }
    .content{
        margin: 1.5rem 0;
    }
    .comment{
        max-width: 50%;
        padding: 10px 0;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
    }
}

@media screen and (max-width: $screen-sm)
{
    #comments-list{
        .comment{
            max-width: 100%;
        }
    }
}