.profile-wrapper{
    margin-top: 1rem;
    .sidebar, .activity, .description{
        .subtitle{
            margin: 0 0 1rem 0;
        }
    }
    .sidebar{
        .profile-pic{
            max-width: 100%;
            margin-bottom: 3rem;
            border: 1px solid $grey;
        }
        .details-list{
            list-style: none;
            margin: 0;
            padding: 0;
            color: $darkgrey;
            li{
                margin-bottom: 1rem;
            }
        }
        .list-label{
            display: block;
            font-weight: bold;
        }
    }
    .description{
        margin-bottom: 2rem;
    }
    .activity{
        .activity-column{
            &:first-of-type,
            &:last-of-type{
             padding: 0;
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    border-bottom: 1px solid $grey;
                    padding: 3px;
                    &:last-of-type{
                        border: none;
                    }
                }
            }
        }
    }
}