@model Deal.Models.ViewModels.GroupsListViewModel

<div class="row" id="groups-list">
    @Html.AntiForgeryToken()
    @if (Model != null)
    {
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-spaced" role="tablist">
            @if(Model.SubscribedGroups.Count() > 0)
            {
            <li role="presentation" class="active"><a href="#my-groups" aria-controls="my-groups" role="tab" data-toggle="tab">My groups <span class="badge">@Model.SubscribedGroups.Count()</span></a></li>
            <li role="presentation"><a href="#other-groups" aria-controls="other-groups" role="tab" data-toggle="tab">Browse groups <span class="badge">@Model.OpenGroups.Count()</span></a></li>
            }
            else
            {
            <li role="presentation" class="active"><a href="#my-groups" aria-controls="my-groups" role="tab" data-toggle="tab">Browse groups <span class="badge">@Model.OpenGroups.Count()</span></a></li>
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            @if(Model.SubscribedGroups.Count() > 0)
            {
            <div role="tabpanel" class="tab-pane fade in active" id="my-groups">
                <div class="list-container">
                    @if(Model.SubscribedGroups.Count() > 0)
                    {
                    <ul class="list list-half-width">
                        @foreach (var grp in Model.SubscribedGroups)
                        {
                            <li class="col-xs-12 col-md-6" data-id="group-@grp.Id">
                                <div class="item">
                                    <h3 class="name"><a href="@Url.Action("Details", new { id = @grp.Id })" title="View details">@grp.Name</a></h3>
                                    <div class="item-stats">
                                        <div class="stat" title="Members" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-users"></i> @grp.Users.Count()</div>
                                        <div class="stat" title="Requests" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-exclamation-circle"></i> @grp.Requests.Count()</div>
                                        <div class="stat" title="Offers" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-question-circle"></i> @grp.Offers.Count()</div>
                                    </div>
                                    <div class="description">@(grp.Description.Length > 400 ? grp.Description.Substring(0,400) + "..." : grp.Description)</div>
                                    <div class="read-more">
                                        @Html.ActionLink("See more", "Details", new { id = @grp.Id }, new { @class="btn btn-default" })
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <p><em>You haven't joined any groups yet.</em></p>
                        </div>
                    }
                </div>
            </div>
            }
            <div role="tabpanel" class="tab-pane fade @(Model.SubscribedGroups.Count() == 0 ? "in active" : "")" id="other-groups">
                <div class="list-container">
                    @if(Model.OpenGroups.Count() > 0)
                    {
                    <ul class="list list-half-width">
                        @foreach (var grp in Model.OpenGroups)
                        {
                            <li class="col-xs-12 col-md-6" data-id="group-@grp.Id">
                                <div class="item">
                                    <h3 class="name"><a href="@Url.Action("Details", new { id = @grp.Id })" title="View details">@grp.Name</a></h3>
                                    <div class="is-completed">
                                        @if(User.Identity.IsAuthenticated)
                                        {
                                            @using (Html.BeginForm("Join","Group", new { grpId = @grp.Id }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <fieldset>
                                                    <input type="submit" class="btn btn-primary" value="Join" />
                                                </fieldset>
                                            }
                                        }
                                    </div>
                                    <div class="item-stats">
                                        <div class="stat" title="Members" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-users"></i> @grp.Users.Count()</div>
                                        <div class="stat" title="Requests" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-exclamation-circle"></i> @grp.Requests.Count()</div>
                                        <div class="stat" title="Offers" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-question-circle"></i> @grp.Offers.Count()</div>
                                    </div>
                                    <div class="description">@(grp.Description.Length > 400 ? grp.Description.Substring(0,400) + "..." : grp.Description)</div>
                                    <div class="read-more">
                                        @Html.ActionLink("See more", "Details", new { id = @grp.Id }, new { @class="btn btn-default" })
                                    </div>
                                </div>
                            </li>
                        }    
                    </ul>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <p><em>You have joined all available groups.</em></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Something went wrong.</p>
    }
    </div>
</div>