@model Deal.Models.ViewModels.GroupViewModel
@{
    ViewBag.Title = @Model.Group.Name;
    ViewBag.SubTitle = "Group";
    ViewBag.Description = "Group Details";
}

<div class="row">
    <div class="col-sm-12 col-md-4 col-md-push-8">
        <div class="detail-top">
            @if(Model.IsSubscribed)
            {
                @using (Html.BeginForm("Leave", "Group", new { grpId = @Model.Group.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <button type="submit" class="btn btn-danger">Leave group <i class="fa fa-sign-out"></i></button>
                    </fieldset>
                }
                <br />
                <a class="btn btn-primary" asp-action="Create" asp-controller="Request" asp-route-grpId="@Model.Group.Id"><i class="fa fa-plus"></i> Request </a>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Offer" asp-route-grpId="@Model.Group.Id"><i class="fa fa-plus"></i> Offer</a>
            }
            else if(User.Identity.IsAuthenticated)
            {
                @using (Html.BeginForm("Join", "Group", new { grpId = @Model.Group.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <button type="submit" class="btn btn-primary">Join group <i class="fa fa-sign-in"></i></button>
                    </fieldset>
                }            
            }
        </div>
        <div class="detail-middle">
            <h3>Stats</h3>
            <ul class="details-list list-unstyled">
                <li title="Users: @Model.Users.Count()"><i class="fa fa-fw fa-users"></i> @Model.Users.Count() members</li>
                <li title="Requests: @Model.Requests.Count()"><i class="fa fa-fw fa-exclamation-circle"></i> @Model.Requests.Count() requests</li>
                <li title="Offers: @Model.Offers.Count()"><i class="fa fa-fw fa-question-circle"></i> @Model.Requests.Count() offers</li>
            </ul>
        </div>
        <div class="detail-bottom">
            <h3>Description</h3>
            <p>@Model.Group.Description</p>
        </div>
    </div>
    
    
    <div class="col-sm-12 col-md-8 col-md-pull-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Requests <span class="badge">@Model.Requests.Count()</span></a></li>
            <li role="presentation"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab">Offers <span class="badge">@Model.Offers.Count()</span></a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="requests">
                <div class="list-container">
                @if(Model.Requests.Count() > 0)
                {
                    <ul class="list list-half-width col-xs-12">
                        @foreach (var req in Model.Requests)
                        {
                            <li class="item col-xs-12" data-id="request-@req.Id">
                                <h3 class="name"><a href="@Url.Action("Details", "Request", new { id = @req.Id })" title="View details">@req.Title</a></h3>
                                <div class="item-stats">
                                    <div class="stat" title="User" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-user"></i> @req.User</div>
                                    <div class="stat" title="Created" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-calendar"></i> @req.CreatedAt.ToString("MMM dd, yyyy")</div>
                                    <div class="stat" title="SubOffers" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-exclamation-circle"></i> @req.Offers.Count()</div>
                                </div>
                                <div class="description">@(req.Description.Length > 400 ? req.Description.Substring(0,400) + "..." : req.Description)</div>
                                <div class="read-more">
                                    @Html.ActionLink("Read more", "Details", "Request", new { id = @req.Id }, new { @class="btn btn-default" })
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <p><em>There are no requests yet.</em></p>
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="offers">
                <div class="list-container">
                    @if(Model.Offers.Count() > 0)
                    {
                    <ul class="list list-half-width col-xs-12">
                        @foreach (var off in Model.Offers)
                        {
                            <li class="item col-xs-12" data-id="offer-@off.Id">
                                <h3 class="name"><a href="@Url.Action("Details", "Offer", new { id = @off.Id })" title="View details">@off.Title</a></h3>
                                <div class="item-stats">
                                    <div class="stat" title="User" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-user"></i> @off.User</div>
                                    <div class="stat" title="Created" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-calendar"></i> @off.CreatedAt.ToString("MMM dd, yyyy")</div>
                                    <div class="stat" title="SubRequests" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-fw fa-question-circle"></i> @off.Requests.Count()</div>
                                </div>
                                <div class="description">@(off.Description.Length > 400 ? off.Description.Substring(0,400) + "..." : off.Description)</div>
                                <div class="read-more">
                                    @Html.ActionLink("Read more", "Details", "Offer", new { id = @off.Id }, new { @class="btn btn-default" })
                                </div>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <p><em>There are no offers yet.</em></p>
                    }
                </div>
            </div>
        </div>    
    </div>
    
</div>
              
@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}