@model Deal.Models.ViewModels.GroupsListViewModel
@{
    ViewBag.Title = "Groups";
    ViewBag.SubTitle = "Browse through the groups";
    ViewBag.Description = "Browse through the existing groups or create a new one.";
}
@if(User.Identity.IsAuthenticated)
{
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" asp-action="Create">Create a new group <i class="fa fa-plus"></i></a>
    </div>
</div>
}
<br />
@Html.Partial("_ListPartial", @Model)

@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}