* {
  box-sizing: border-box; }

body {
  background-color: #eee;
  color: #8C8C8C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

.btn-primary {
  background: #208778;
  border-color: #1e7f71; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #1b7266;
    border-color: #196a5e; }

a {
  color: #208778;
  transition: all .2s ease; }
  a:hover, a:focus, a:active {
    color: #2fc5af;
    text-decoration: none; }

/*
Main Content
==========================================================
*/
#main {
  position: relative;
  min-height: 496px;
  width: auto;
  padding-top: 105px;
  padding-left: 25px;
  padding-right: 25px; }

#main .row {
  margin-left: 0;
  margin-right: 0; }

.main-header h1 {
  margin: 0;
  padding: 0 16px 16px 16px;
  color: #555555;
  font-weight: 300;
  color: #208778;
  font-size: 4rem; }
  .main-header h1 small {
    font-weight: 300;
    margin-top: 10px;
    display: block; }

/*
Table
==========================================================
*/
.table > thead > tr > th:last-of-type, .table > tbody > tr > td:last-of-type {
  text-align: right; }

.table > tbody > tr > td a > i {
  font-size: 1.6em;
  margin-left: 12px; }

.table > tbody > tr > td a > i:first-of-type {
  margin-left: 0; }

/*
Dashboard List
==========================================================
*/
.viz-amount {
  position: relative;
  display: block;
  font-size: 24px;
  color: #3e575e; }

.viz-amount .fa {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #208778; }

.viz-amount small {
  font-size: 70%;
  text-transform: uppercase; }

.header-backoffice {
  background: #3e575e;
  height: 75px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 999; }
  .header-backoffice .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .header-backoffice .logo {
    padding-left: 1rem;
    display: inline-block;
    height: 75px;
    overflow: hidden;
    float: left; }
    .header-backoffice .logo h1, .header-backoffice .logo h2 {
      display: none; }
  .header-backoffice .logo-text {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 75px;
    margin-left: 1rem;
    cursor: default; }
  .header-backoffice .navigation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-backoffice .navigation .link {
      color: #fff;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      height: 75px;
      text-decoration: none; }
      .header-backoffice .navigation .link:hover {
        background: #48656d; }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .main-navigation ul .menu-item {
    display: block;
    position: relative; }
    .main-navigation ul .menu-item a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      color: #3e575e;
      padding: 2rem;
      transition: all .2s ease; }
      .main-navigation ul .menu-item a:hover {
        color: #208778;
        background: #d5d5d5; }
      .main-navigation ul .menu-item a .fa {
        width: 3rem; }
    .main-navigation ul .menu-item.active a, .main-navigation ul .menu-item.active:hover a {
      color: #fff;
      background: #208778; }

/*
Sidebar off-canvas toggle
==========================================================
*/
.sidebar-toggle {
  background: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 11px 2px 0 11px;
  box-sizing: border-box;
  color: #8C8C8C; }

.sidebar-toggle:hover {
  background: #00b4ff;
  color: #fff; }
  .sidebar-toggle:hover .icon-bar {
    background-color: #fff; }

.sidebar-toggle .icon-bar {
  background-color: #8C8C8C;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

/*
Sidebar
==========================================================
*/
.sidebar-backoffice {
  position: fixed;
  width: 250px;
  height: 100%;
  margin-top: 75px;
  top: 0;
  background: #e1e1e1;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }

.sidebar-push-left {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0); }

.sidebar-push-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.main-push {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0); }

.main-full {
  margin-left: 250px; }
