* {
  box-sizing: border-box; }

body {
  background-color: #eee;
  color: #8C8C8C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

.btn-primary {
  background: #208778;
  border-color: #1e7f71; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #1b7266;
    border-color: #196a5e; }
  .btn-primary:active:hover, .btn-primary:active:focus {
    background: #3e575e;
    border-color: #2a3b3f; }

a, .btn-link {
  color: #208778;
  transition: all .2s ease; }
  a:hover, a:focus, a:active, .btn-link:hover, .btn-link:focus, .btn-link:active {
    color: #2fc5af;
    text-decoration: none; }

/*
Main Content
==========================================================
*/
#main {
  position: relative;
  min-height: 496px;
  width: auto;
  padding-top: 105px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px; }

#main .row {
  margin-left: 0;
  margin-right: 0; }

.main-header h1 {
  margin: 0;
  padding: 0 16px 16px 16px;
  color: #555555;
  font-weight: 300;
  color: #208778;
  font-size: 4rem; }
  .main-header h1 small {
    font-weight: 300;
    margin-top: 10px;
    display: block; }

@media screen and (max-width: 768px) {
  #main {
    padding-left: 0;
    padding-right: 0; } }

/*
Table
==========================================================
*/
.table > thead > tr > th:last-of-type, .table > tbody > tr > td:last-of-type {
  text-align: right; }

.table > tbody > tr > td a > i {
  font-size: 1.6em;
  margin-left: 12px; }

.table > tbody > tr > td a > i:first-of-type {
  margin-left: 0; }

.green {
  color: #8BC34A !important; }

.yellow {
  color: #FFC107 !important; }

.red {
  color: #f53357 !important; }

.grey {
  color: #ddd; }

.strong {
  font-weight: bold; }

textarea {
  max-width: 100%;
  max-height: 100%; }

.deal-panel {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  border-radius: 5px; }

.header-frontoffice {
  background: #208778;
  height: 75px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 999; }
  .header-frontoffice .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .header-frontoffice .logo {
    padding-left: 1rem;
    display: inline-block;
    height: 75px;
    overflow: hidden;
    float: left; }
    .header-frontoffice .logo h1, .header-frontoffice .logo h2 {
      display: none; }
  .header-frontoffice .logo-text {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 75px;
    margin-left: 1rem;
    cursor: default; }
  .header-frontoffice .navigation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-frontoffice .navigation .link-container {
      display: flex;
      padding: 0;
      margin: 0; }
    .header-frontoffice .navigation .link {
      color: #fff;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      height: 75px;
      text-decoration: none; }
      .header-frontoffice .navigation .link:hover {
        background: #239383; }
  @media screen and (max-width: 768px) {
    .header-frontoffice .logo {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0; }
    .header-frontoffice .logo-text {
      display: none; }
    .header-frontoffice .navigation {
      display: none; } }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .main-navigation ul .menu-item {
    display: block;
    position: relative; }
    .main-navigation ul .menu-item a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      color: #3e575e;
      padding: 2rem;
      transition: all .2s ease; }
      .main-navigation ul .menu-item a:hover {
        color: #208778;
        background: #d5d5d5; }
      .main-navigation ul .menu-item a .fa {
        width: 3rem; }
    .main-navigation ul .menu-item.active a, .main-navigation ul .menu-item.active:hover a {
      color: #fff;
      background: #3e575e; }
    .main-navigation ul .menu-item.log-off {
      display: none; }
  @media screen and (max-width: 768px) {
    .main-navigation ul .menu-item.log-off {
      display: block; } }

/*
Sidebar off-canvas toggle
==========================================================
*/
.sidebar-toggle {
  background: #3e575e;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 11px 2px 0 11px;
  box-sizing: border-box;
  color: #8C8C8C;
  position: absolute;
  left: 0;
  top: 10%;
  transition: all .2s ease; }

.sidebar-toggle:hover {
  background: #fff;
  color: #fff; }
  .sidebar-toggle:hover .icon-bar {
    background-color: #3e575e; }

.sidebar-toggle .icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  transition: all .2s ease; }

.sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

/*
Sidebar
==========================================================
*/
.sidebar-backoffice {
  position: fixed;
  width: 250px;
  height: 100%;
  margin-top: 75px;
  top: 0;
  background: #e1e1e1;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }

.sidebar-push-left {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0); }

.sidebar-push-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.main-push {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0); }

.main-full {
  margin-left: 250px; }

.nav.nav-tabs.nav-tabs-spaced {
  margin-left: 15px;
  margin-right: 15px; }

.list-container {
  margin: 2rem 0 0 0; }
  .list-container .list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .list-container .list-full-width {
    display: block; }
  .list-container .list-half-width {
    display: flex;
    flex-wrap: wrap; }
  .list-container .item {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    position: relative; }
    .list-container .item .name {
      margin: 0 0 1.5rem 0;
      color: #208778; }
    .list-container .item .item-stats {
      font-size: 85%;
      color: #3e575e;
      display: flex; }
      .list-container .item .item-stats .stat {
        margin-right: 2rem; }
        .list-container .item .item-stats .stat:last-of-type {
          margin-right: 0; }
    .list-container .item .is-completed {
      position: absolute;
      top: 1rem;
      right: 1rem; }
      .list-container .item .is-completed a {
        color: #ddd; }
        .list-container .item .is-completed a:hover {
          color: #8BC34A; }
    .list-container .item .description {
      border-top: 1px solid #e6e6e6;
      padding: 1rem 0;
      margin: 1rem 0; }

.detail-top .details-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .detail-top .details-list li {
    display: inline-block;
    margin-right: 1.5rem; }
    .detail-top .details-list li:last-of-type {
      margin-right: 0; }

.intro {
  margin-top: 2rem; }

.overview-block {
  margin-bottom: 1.5rem;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e6e6e6; }
  .overview-block .table-responsive {
    border: none; }
  .overview-block .subtitle {
    margin: 0 0 1rem 0; }
  .overview-block .overview-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .overview-block .overview-list li a {
      display: block;
      padding: 3px;
      margin-bottom: 2px;
      border-bottom: 1px solid #e6e6e6; }
    .overview-block .overview-list li:last-of-type a {
      border: none; }
  .overview-block .btn {
    margin-top: 1rem; }

.intro-cards .card {
  background: #208778;
  color: #e6e6e6;
  padding: 1rem 3.5rem;
  border-radius: 5px;
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .intro-cards .card .fa {
    margin-bottom: 3rem; }
  .intro-cards .card .title {
    margin-bottom: 2rem;
    font-size: 2.5rem; }
  .intro-cards .card .caption {
    font-size: 1.3rem; }

.intro-cards .card-1 {
  background: #f53357; }

.intro-cards .card-2 {
  background: #3e575e; }

@media screen and (max-width: 992px) {
  .intro-cards .card {
    margin-bottom: 2rem;
    min-height: 0;
    padding: 3rem 6rem; }
    .intro-cards .card .fa {
      margin-bottom: 1rem; } }

.profile-wrapper {
  margin-top: 1rem; }
  .profile-wrapper .sidebar .subtitle, .profile-wrapper .activity .subtitle, .profile-wrapper .description .subtitle {
    margin: 0 0 1rem 0; }
  .profile-wrapper .sidebar .profile-pic {
    max-width: 100%;
    margin-bottom: 3rem;
    border: 1px solid #e6e6e6; }
  .profile-wrapper .sidebar .details-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #8C8C8C; }
    .profile-wrapper .sidebar .details-list li {
      margin-bottom: 1rem; }
  .profile-wrapper .sidebar .list-label {
    display: block;
    font-weight: bold; }
  .profile-wrapper .description {
    margin-bottom: 2rem; }
  .profile-wrapper .activity .activity-column:first-of-type, .profile-wrapper .activity .activity-column:last-of-type {
    padding: 0; }
  .profile-wrapper .activity .activity-column ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .profile-wrapper .activity .activity-column ul li {
      border-bottom: 1px solid #e6e6e6;
      padding: 3px; }
      .profile-wrapper .activity .activity-column ul li:last-of-type {
        border: none; }

.detail-middle {
  margin: 2rem 0; }

.exchanges {
  margin: 3rem 0; }

#comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem; }
  #comments-list .meta .user {
    font-size: 1.5rem; }
  #comments-list .meta .date {
    font-size: 1.2rem; }
  #comments-list .content {
    margin: 1.5rem 0; }
  #comments-list .comment {
    max-width: 50%;
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; }

@media screen and (max-width: 768px) {
  #comments-list .comment {
    max-width: 100%; } }
