@model IEnumerable<Deal.Models.Request>
@Html.AntiForgeryToken()

@if (Model != null && Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Status</th>
					<th>Title</th>
					<th>Group</th>
					<th>Category</th>
					<th>Bonus</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var req in Model)
				{
					<tr data-id="request-@req.Id">
						<td>
							@if (@req.IsCompleted != true)
							{
								<a 	class="confirm-link"
								data-id="@req.Id" 
								data-name="@req.Title"
								data-cat = "request"
								data-action="complete"  
								data-update-target="#requests-list" 
								data-update-href="@Url.Action("Index", "Request")"
								href="@Url.Action("ToggleComplete", new { id = @req.Id })"
                                data-toggle="tooltip" data-placement="right"
								title="Complete Request"><span class="fa fa-lg fa-circle-o"></span>	
								</a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@req.Id" 
								data-name="@req.Title"
								data-cat = "request"
								data-action="uncomplete"  
								data-update-target="#requests-list" 
								data-update-href="@Url.Action("Index", "Request")"
								href="@Url.Action("ToggleComplete", new { id = @req.Id })"
                                data-toggle="tooltip" data-placement="right"
								title="UnComplete Request"><span class="fa fa-lg fa-check-circle"></span>	
								</a>
							}
						</td>
						<td><a href="@Url.Action("Edit", new { id = @req.Id })" title="Edit Request" data-toggle="tooltip" data-placement="top">@req.Title</a></td>
						<td>@req.GroupId</td>
						<td>@req.CategoryId</td>
						<td>@req.Bonus</td>
						<td>@req.CreatedAt</td>
						<td>
							@if (@req.DeletedAt != null)
							{
								<a 	class="confirm-link"
								data-id="@req.Id" 
								data-name="@req.Title"
								data-cat = "request"
								data-action="softundelete"  
								data-update-target="#requests-list" 
								data-update-href="@Url.Action("Index", "Request")"
								href="@Url.Action("SoftUnDelete", new { id = @req.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Soft UnDelete Request"><span class="fa fa-lg fa-eye-slash"></span></a>
							}
							else
							{
								<a 	class="confirm-link"
								data-id="@req.Id" 
								data-name="@req.Title"
								data-cat = "request"
								data-action="softdelete"  
								data-update-target="#requests-list" 
								data-update-href="@Url.Action("Index", "Request")"
								href="@Url.Action("SoftDelete", new { id = @req.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Soft Delete Request"><span class="fa fa-lg fa-eye"></span></a>
							}
							<a 	class="confirm-link"
								data-id="@req.Id" 
								data-name="@req.Title"
								data-cat = "request"
								data-action="delete"  
								data-update-target="#requests-list" 
								data-update-href="@Url.Action("Index", "Request")"
								href="@Url.Action("Delete", new { id = @req.Id })" 
                                data-toggle="tooltip" data-placement="top"
								title="Delete Request"><span class="fa fa-lg fa-trash"></span></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p><em>No requests in the database!</em></p>
}
@Html.ActionLink("Create a new request", "Create", new { }, new { @class = "btn btn-primary" })