@model Deal.Models.ViewModels.RequestViewModel
@{
    ViewBag.Title = "Requests";
    ViewBag.SubTitle = "Create a new request";
    ViewBag.Description = "Create a new request";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend class="hidden">Create a new request</legend>
                @Html.ValidationSummary("", new {@class="alert-danger"})
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Request.IsCompleted) Completed
                    </label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Title)
                    @Html.TextBoxFor(m => m.Request.Title, new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Description)
                    @Html.TextAreaFor(m => m.Request.Description, new { @class= "form-control", rows = 12, cols = 50 })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.CategoryId)
                    @Html.DropDownListFor(m => m.Request.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select a category --", new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.Bonus)
                    <select class="form-control" asp-for="Request.Bonus" asp-items="Html.GetEnumSelectList<TypeBonus>()"></select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.EstimatedTime)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Request.EstimatedTime, new { @class= "form-control", @type = "number" })
                        <div class="input-group-addon">minutes</div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.GroupId)
                    @Html.DropDownListFor(m => m.Request.GroupId, new SelectList(Model.Groups, "Id", "Name"), "-- Select a group --", new { @class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Request.UserId)
                    @Html.DropDownListFor(m => m.Request.UserId, new SelectList(Model.Users, "Id", "UserName"), "-- Select a user --", new { @class= "form-control" })
                </div>
                @Html.ActionLink("Back", "Index", new { }, new { @class= "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </fieldset>
        }
    </div>      
</div>