@model IEnumerable<Deal.Models.Request>
@{
    ViewBag.Title = "Requests";
    ViewBag.SubTitle = "Overview";
    ViewBag.Description = "An overview of all requests.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12" id="requests-list">
        @Html.Partial("_ListPartial", @Model)
    </div>      
</div>
@section Scripts {
    <script>
        window.ConfirmService.registerClickHandlers();
        window.ConfirmService.registerModalHandlers();
    </script>
}