﻿@using System.Security.Claims

<div class="header-frontoffice" role="header">
    <div class="container-fluid">
        <a class="logo" asp-action="Index" asp-controller="Home">
            <img src="~/images/logo.png" alt="Deal">
        </a>
        <span class="logo-text">Let's trade!</span>
        <div class="sidebar-toggle pull-left hidden">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="navigation pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="link" asp-controller="User" asp-action="Index" title="Profile"><i class="fa fa-fw fa-user"></i> @User.GetUserName()</a>
                <form class="link-container" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                    <a class="link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </form>
            }
            else
            {
                <a class="link" asp-controller="Account" asp-action="Register">Register</a>
                <a class="link" asp-controller="Account" asp-action="Login">Log in</a>
            }
        </div>
    </div>
</div>