<!doctype html>
<!-- [if lt IE 7]><html dir="ltr" lang="en" class="no-js lt-ie7"><![endif]-->
<!-- [if lt IE 8]><html dir="ltr" lang="en" class="no-js lt-ie8"><![endif]-->
<!-- [if lt IE 9]><html dir="ltr" lang="en" class="no-js lt-ie9"><![endif]-->
<!-- [if lt IE 10]><html dir="ltr" lang="en" class="no-js lt-ie10"><![endif]-->
<!-- [if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Deal</title>
        <meta name="description" content="@ViewBag.Description">
        <meta name="keywords" content="@ViewBag.Keywords">
        <meta name="author" content="@ViewBag.Author">
        <meta name="copyright" content="Copyright 2003-16 Arteveldehogeschool. Alle rechten voorbehouden.">

        <!-- Dependencies -->
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
                asp-fallback-src="~/lib/font-awesome/font-awesome.min.css" />
            <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
            <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
            <link rel="stylesheet" href="~/css/vendor/chosen.css" />
            <script src="~/lib/modernizr/modernizr.min.js"></script>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
                asp-fallback-src="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
                asp-fallback-src="~/lib/font-awesome/font-awesome.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css"
                asp-fallback-src="~/lib/animate.css/animate.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"
                asp-fallback-src="~/lib/datatables/datatables.min.css" />
            <link rel="stylesheet" href="~/css/vendor/chosen.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
                asp-fallback-src="~/lib/modernizr/modernizr.min.js"></script>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        </environment>
        
        <!-- Custom -->
        <link rel="stylesheet" href="~/css/frontoffice.css" asp-file-version="true" />
    </head>
    <body>
        @* Header Partial *@
        @Html.Partial("_Header")
        
        @* Sidebar Partial *@
        @Html.Partial("_Sidebar")
    
        @* Main Content *@
        <main id="main" role="main" class="main-full">
            <header class="main-header" class="clearfix">
                <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
            </header>
            
            @* Alert Service container *@
            <div class="row" id="alert-service-container"></div>
    
            @* Render the body of the view *@
            @RenderBody()
        </main>
        
        @* Modal Popup Partial *@
        @Html.Partial("_Modal")

        @* Scripts *@
        <!-- Dependencies -->
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/lib/hammer.js/hammer.min.js"></script>
            <script src="~/lib/datatables/datatables.min.js"></script>                    
            <script src="~/js/vendor/summernote.js" asp-file-version="true"></script>   
            <script src="~/js/vendor/chosen.jquery.js" asp-file-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="~/lib/hammer.js/hammer.min.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                    asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                    asp-fallback-test="window.Hammer && window.Hammer.Instance">
            </script>
            <script src="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"
                    asp-fallback-src="~/lib/datatables/datatables.min.js"></script>
                    
            <script src="~/js/vendor/summernote.js" asp-file-version="true"></script>   
            <script src="~/js/vendor/chosen.jquery.js" asp-file-version="true"></script>
        </environment>
        
        <!-- Custom -->
        <script src="~/js/all/sidebar.js" asp-file-version="true"></script>
        <script src="~/js/all/services/srv_alert.js" asp-file-version="true"></script>
        <script src="~/js/all/services/srv_security.js" asp-file-version="true"></script>
        <script src="~/js/all/services/srv_ajax-confirm.js" asp-file-version="true"></script>
        
        @* Alert Service Partial *@
        @Html.Partial("_Alert")
       
        @* Activate Modal Service & WYSIWYG *@
        <script>
            window.AlertService = new AlertService('#alert-service-container');
            window.ConfirmService = new ConfirmService('.confirm-link', '#confirm-dialog');
            $('.summernote').summernote({height: 200});
            $('.datatable').DataTable();
            $('[data-toggle="tooltip"]').tooltip()
        </script>

        @* Custom scripts specified in the views*@
        @RenderSection("scripts", required: false)
    </body>
</html>
