﻿@* Sidebar, on the left in the backoffice *@
<aside class="sidebar-backoffice">
    <nav class="main-navigation">
        <ul>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                <a href="@Url.Action("Index", "Home")" title="">
                    <span class="fa fa-home"></span>
                    <span class="label-menu">Home</span>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "User" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a href="@Url.Action("Index", "User")" title="">
                    <span class="fa fa-user"></span>
                    <span class="label-menu">My profile</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Request" ? "active" : "")">
                <a href="@Url.Action("Index", "Request")" title="">
                    <span class="fa fa-exclamation-circle"></span>
                    <span class="label-menu">My requests</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Offer" ? "active" : "")">
                <a href="@Url.Action("Index", "Offer")" title="">
                    <span class="fa fa-question-circle"></span>
                    <span class="label-menu">My offers</span>
                </a>
            </li>
            }
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Group" ? "active" : "")">
                <a href="@Url.Action("Index", "Group")" title="">
                    <span class="fa fa-cube"></span>
                    <span class="label-menu">Groups</span>
                </a>
            </li>
            <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Leaderboard" ? "active" : "")">
                <a href="@Url.Action("Index", "Leaderboard")" title="">
                    <span class="fa fa-star"></span>
                    <span class="label-menu">Leaderboard</span>
                </a>
            </li>
            @if(User.IsInRole("Administrator"))
            {
                <li class="menu-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "Backoffice" })" title="">
                        <span class="fa fa-wrench"></span>
                        <span class="label-menu">Backoffice</span>
                    </a> 
                </li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li class="menu-item log-off">
                    <form class="link-container" asp-controller="Account" asp-action="LogOff" method="post" id="logoutSideBar">
                        <a class="link" href="javascript:document.getElementById('logoutSideBar').submit()">
                            <i class="fa fa-sign-out"></i>
                            Log off
                        </a>
                    </form>
                </li>
            }
            else
            {
                <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">
                    <a href="@Url.Action("Login", "Account")" title="">
                        <span class="fa fa-sign-in"></span>
                        <span class="label-menu">Log in</span>
                    </a> 
                </li>
                <li class="menu-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">
                    <a href="@Url.Action("Register", "Account")" title="">
                        <span class="fa fa-user-plus"></span>
                        <span class="label-menu">Create an account</span>
                    </a> 
                </li>
            }
        </ul>
    </nav>
</aside>
