@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    ViewBag.SubTitle = "An error occurred while processing your request.";
    ViewBag.Description = "An error occurred while processing your request.";
}

@if (Model != null)
{
    <h3>@Model.Exception.GetType().Name</h3>
    <pre>
        @Model.Exception.ToString()
    </pre>
    <p>
        thrown in @Model.ControllerName @Model.ActionName
    </p>
}